<a routerLink="/details/{{ establishment.id }}" routerLinkActive="active">
  <div class="establishment-item">
    <img src="{{ establishment.picture }}" />
    <div class="establishment-content">
      <div>
        <span class="title">{{ establishment.name }}</span>
        <span class="id">{{ establishment.id }}</span>
      </div>
      <div class="address">
        <span class="city">{{ establishment.city }}</span>
        <span>{{ establishment.address }}</span>
      </div>
    </div>
  </div>
</a>
