<div class="establishment-details">
  <div class="header">
    <a routerLink="/list" routerLinkActive="active">
      <img class="arrow" src="./assets/images/arrow-left.png" />
    </a>
    <img class="logo" src="{{ establishment.picture }}" />
    <div class="establishment-content">
      <span class="title">{{ establishment.name }}</span>
      <span class="id">ID: {{ establishment.id }}</span>
    </div>
  </div>
  <p class="subtitle">Informações Básicas</p>
  <p class="subtitle">Financeiro</p>
</div>
