<div class="establishment-details">
  <div class="header">
    <a routerLink="/list" routerLinkActive="active">
      <img class="arrow" src="./assets/images/arrow-left.png" />
    </a>
    <img class="logo" src="{{ establishment.picture }}" />
    <div class="establishment-content">
      <span class="title">{{ establishment.name }}</span>
      <span class="id">ID: {{ establishment.id }}</span>
    </div>
  </div>
  <p class="subtitle">Informações Básicas</p>
  <div class="input-wrapper">
    <app-input [params]="name" [(inputModel)]="inputs.name"></app-input>
    <app-select [params]="city" [(inputModel)]="inputs.city"></app-select>
    <app-input [params]="address" [(inputModel)]="inputs.address"></app-input>
  </div>
  <p class="subtitle">Financeiro</p>
  <div class="input-wrapper">
    <app-select
      [params]="bank"
      [(inputModel)]="inputs.financial.bank"
    ></app-select>
    <app-select
      [params]="type"
      [(inputModel)]="inputs.financial.type"
    ></app-select>
    <app-input
      [params]="document"
      [(inputModel)]="inputs.financial.document"
    ></app-input>
    <div class="double-input">
      <app-input
        [params]="agency"
        [(inputModel)]="inputs.financial.agency"
      ></app-input>
      <app-input
        [params]="agencyDigit"
        [(inputModel)]="inputs.financial.agencyDigit"
      ></app-input>
    </div>
    <div class="double-input">
      <app-input
        [params]="account"
        [(inputModel)]="inputs.financial.account"
      ></app-input>
      <app-input
        [params]="accountDigit"
        [(inputModel)]="inputs.financial.accountDigit"
      ></app-input>
    </div>
    <app-select
      [params]="autoPlunder"
      [(inputModel)]="inputs.financial.autoPlunder"
    ></app-select>
  </div>
  <app-button [text]="'Enviar'" (onClick)="handleSubmit($event)"></app-button>
</div>
