.btn {
  width: 120px;
  height: 40px;
  background: #28cc9b;
  border-radius: 100px;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
